@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0;
  visibility: hidden;
  /* width: 8px;
  z-index: 0;
  position: absolute; */
}

::-webkit-scrollbar-track {
  visibility: hidden;
  /* background-color: #262626;
  border-radius: 4px;
  z-index: 0;
  position: absolute;
  padding-left: 100px; */
}

::-webkit-scrollbar-thumb {
  visibility: hidden;
  /* background-color: #cbcbcb;
  cursor: pointer;
  border-radius: 4px;
  z-index: 0;
  position: absolute; */
}
